<!DOCTYPE html>
<html lang="ZH-cn">
<head>

    <title>mylch</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/js/navbar-buttom/hamburgers.css">
    <link rel="stylesheet" href="../static/css/main.css">


</head>
<body>


<div class="index-top">
    <div class="container">
        <span>全国服务热线:400-081-3338</span>
        <span style="float: right">免费上门设计</span>
    </div>
</div>


<div class="container tostatic topadding0">
    <nav class="navbar navbar-default tostatic tonoborder" role="navigation">
        <div class=" tostatic">
            <div class="inavbar ">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="../static/img/logo-l.png"/></a>
                    <div class="navbar-toggle  tonopm tonoborder fleft" data-toggle="collapse"
                         data-target="#example-navbar-collapse">
                        <div class="hamburger-x hamburger--squeeze" aria-expanded="true">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse tostatic" id="example-navbar-collapse">

                <ul class="nav navbar-nav tostatic ">
                    <li class="dropdown tostatic">
                        <a href="#" class="dropdown-toggle navbaropen  tolineheight60"
                           data-toggle="dropdown">窗型概览</a>
                        <ul class="dropdown-menu maxwidth totopauto">
                            <div class="container tonavmenuls">
                                <div class="navbar-top-line"></div>
                                <li><a href="#">aaa</a></li>
                                <li><a href="#">aaa</a></li>
                                <li><a href="#">aaa</a></li>

                            </div>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav tostatic ">
                    <li class="dropdown tostatic">
                        <a href="#" class="dropdown-toggle navbaropen  tolineheight60"
                           data-toggle="dropdown">美驰窗系统</a>
                        <ul class=" dropdown-menu maxwidth totopauto">
                            <div class="container tonavmenuls">
                                <div class="navbar-top-line"></div>
                                <li><a href="#">bbb</a></li>
                                <li><a href="#">bbb</a></li>
                                <li><a href="#">bbb</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav tostatic ">
                    <li class="dropdown tostatic">
                        <a href="#" class="dropdown-toggle navbaropen  tolineheight60"
                           data-toggle="dropdown">小区团装</a>
                        <ul class=" dropdown-menu maxwidth totopauto">
                            <div class="container tonavmenuls">
                                <div class="navbar-top-line"></div>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav tostatic ">
                    <li class="dropdown tostatic">
                        <a href="#" class="dropdown-toggle navbaropen  tolineheight60"
                           data-toggle="dropdown">服务中心</a>
                        <ul class=" dropdown-menu maxwidth totopauto">
                            <div class="container tonavmenuls">
                                <div class="navbar-top-line"></div>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav tostatic ">
                    <li class="dropdown tostatic">
                        <a href="#" class="dropdown-toggle navbaropen  tolineheight60"
                           data-toggle="dropdown">产品案例</a>
                        <ul class=" dropdown-menu maxwidth totopauto">
                            <div class="container tonavmenuls">
                                <div class="navbar-top-line"></div>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav tostatic ">
                    <li class="dropdown tostatic">
                        <a href="#" class="dropdown-toggle navbaropen  tolineheight60"
                           data-toggle="dropdown">品牌天地</a>
                        <ul class=" dropdown-menu maxwidth totopauto">
                            <div class="container tonavmenuls">
                                <div class="navbar-top-line"></div>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                                <li><a href="#">ccc</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>



            </div>
        </div>
    </nav>
</div>




{% block content %}
{% endblock %}


<script src="../static/js/lib/jquery-3.2.1.js"></script>
<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../static/js/myjs/myjs.js"></script>
<script src="../static/js/navbar-buttom/buttonjs.js"></script>
<script src="../static/js/myjs/navbar.open.js"></script>

{% block js %}
<script src="../static/js/myjs/index.js"></script>
{% endblock %}


</body>
</html>