{% extends "layout.html" %}
{% block css %}
<style>

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding: 0 ;
        margin: 0 ;
    }
    h4{
        line-height: 1.5em;
    }
    .news_txt {
        top: 90%;
        width: 100%;
    }
    .glyphicon {
        top: 2px;
        display: inline-block;
    }
    .news_txttime {
        clear: both;
        text-align: center;
    }
    .news_div {
        display: block;
        float: right;
        border-left: 1px solid #eeeeee;
    }
    .news_h {
        text-align: center;
        padding-top: 7px;
    }
    .news_h img{
        width: 100%;
    }
    @media screen and (min-width: 992px) {
        .news_txttime {
            text-align: left;
        }
        .news_p{
            padding-left: 1em;
            line-height: 2em;
        }
        .news_div {
            float: right;
            border-left: 1px solid #eeeeee;
        }
        .news_h {
            float: left;
            padding-right: 1em;
        }
    }


</style>

{% endblock %}
{% block content %}

<div class="container " id="newsmain">
    <div class="row ">
        <div v-for="n in news['img']" class="col-xs-12 col-sm-12 col-md-5 col-lg-4 news_h">
            <img class="news_img" v-bind:src="[[ n ]]">
            <h4 class="news_txt">[[ news['title'] ]]</h4>
            <div class="news_txttime"><span class="glyphicon glyphicon-time" style="color:#777777"></span>&nbsp;&nbsp;[[ news['year'] ]]，[[ news['adders'] ]]
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 news_div news_p">
            <p v-for="p in news['zhengwen']">[[ p ]]</p>
        </div>

    </div>
<br><br><br><br><br><br><br><br>
</div>
<span id="txt" style="display: none">{{ txt }}</span>

{% endblock %}
{% block js %}

<script>

    var txt = $("#txt").text();
    txt = $.parseJSON(txt);
    txt.year = formatdate(txt.year);
    var vm = new Vue({
        el: '#newsmain',
        data: {
            news: txt
        },
        delimiters: ['[[', ']]']

    });

</script>


{% endblock %}
