{% extends "layout.html" %}

{% block css %}

<style>
    body {
        text-align: center;
    }

    .story-top {
        text-align: center;
        position: relative;
    }

    .story-top div {
        margin-left: auto;
        margin-right: auto;
    }

    .bgimg {
        width: 100%;
    }

    .redsanjiao {
        text-align: center;
        display: none;
    }

    #rensanjiao992 {
        font-size: 52px;
        margin-top: -50px;
        color: red;
        margin-bottom: 30px;
    }

    .enddiv {
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: center;
        clear: both;
    }

    .story-bk {
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .story-bk img {
        width: 100%;
    }

    .story-bk-txt {
        width: 100%;
    }

    .story-bk-txt h1, .story-bk-txt h3 {
        margin: 0;
    }

    .story-bk-txt p {
        margin: 1em 0;
    }

    .story-bk-txt h1 {
        color: #e71f19;
        font-weight: 600;
        text-align: center;
        font-size: 90px;
        font-style: italic;
        border-bottom: 2px solid #e71f19;

    }

    .story-bk-txt h3 {
        color: #e71f19;
        text-align: center;
    }

    .story-bk-txt p {
        text-align: left;
    }

    @media screen and (min-width: 992px) {

        .story-bk {
            width: 1140px;
            height: 500px;
            padding: 15px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }

        .story-bk-img1, .story-bk-img2, .story-bk-txt {
            overflow: hidden;
        }

        .story-bk-img1 img {
            height: 100%;
            width: auto;
        }

        .story-bk-img2 img {
            width: 100%;
        }

        .story-bk-img1 {
            width: 60%;
            height: 500px;
        }

        .story-bk-img2 {
            width: 40%;
            height: 220px;
        }

        .story-bk-txt {
            width: 40%;
            height: 280px;
        }

        .story-bk-txt h1 {
            display: inline-block;
            width: auto;
            border-bottom: 2px solid #e71f19;

        }

        .story-bk-txt h3 {
            padding-top: 1em;
            display: inline-block;
        }

        .redsanjiao {
            display: block;
        }

        #rensanjiao992 {
            font-size: 72px;
            margin-top: -72px;
            color: #e71f19;
            margin-bottom: 30px;
        }

        .topneirong {
            width: 100%;
            position: absolute;
        }

        .topneirong p {
            width: 680px;
            color: white;
            border: solid #fff 2px;
            padding: 40px;
            font-size: 18px;
            margin: 0 auto;
            margin-top: -27%;
        }

        .story-top {
            max-height: 693px;
        }

        .topneirong p {
            color: #fff;
            text-align: center;
        }

        .enddiv {
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
            clear: both;
        }
    }
</style>
{% endblock %}

{% block content %}


<div class="story-top">
    <div class="bgimg">
        <img style="width: 100%" src="../static/img/story/bgimg.jpg"/>
    </div>

    <div class="topneirong">
        <p>
            作为中国第一家从事门窗制造的正规企业，<br>
            二十多年来美驰始终在为高品质门窗工艺与品质的精进而不懈努力。<br>
            美驰的23年的发展史，<br>
            也是中国门窗行业走向正规化生产的23年。<br>
        </p>
    </div>

    <div class="redsanjiao">
        <span class="glyphicon glyphicon-triangle-bottom " id="rensanjiao992"></span>
    </div>
</div>

<br>

<div style="width: 100%;text-align: center;margin: 0;padding: 0">
    {% for i in txt['zhengwen'] %}

    <!--<div style="width: 100%;text-align: center; margin: 100px auto">-->
        <!--<img src="../static/img/story/{{ 'g'+i['y'] }}.png"/>-->

    <!--</div>-->

    <div class="story-bk">
        <div class="story-bk-txt">
            <div>
                <h1> {{ i['y'] }}</h1>
            </div>
            <div>
                <h3>{{i['h']}}</h3>
            </div>

            <p>{{i['p']}}</p>
        </div>
        <div class="story-bk-img1">
            <img src="../static/img/story/{{ i['y']+'-1' }}.jpg"/>
        </div>
        <div class="story-bk-img2">
            <img src="../static/img/story/{{ i['y']+'-2' }}.jpg"/>
        </div>


    </div>

    {% endfor %}


</div>


<div class="enddiv">
    <span id="redbigtxt" style="color:red; font-size: 24px;font-family: 宋体;border-style: solid;padding: 10px;"><a
            href="##" style="color:red;">未来已来  更多期待</a></span>
</div>


{% endblock %}


{% block js %}

<script>

    $(function () {
        var fangxiang = 0;

        $(".story-bk").each(function () {
            var f = ''
            var ff = ''
            if (fangxiang != 0) {
                f = 'left';
                ff = 'right'

            } else {
                f = 'right';
                ff = 'left';

            }

            var csst = '{"border-' + f + '": "10px solid #e71f19"}';
            var cssimg1 = '{"float":"' + ff + '"}';
            var cssimg2 = '{"float":"' + f + '","padding-' + ff + '":"15px"}';
            var csstxt = '{"float":"' + f + '","padding-' + ff + '":"15px","text-align":"' + f + '"}';


            eval('$(this).css(' + csst + ')');
            eval('$(this).children(".story-bk-img1").css(' + cssimg1 + ')');
            eval('$(this).children(".story-bk-img2").css(' + cssimg2 + ')');
            eval('$(this).children(".story-bk-txt").css(' + csstxt + ')');


            if (fangxiang === 0) {
                fangxiang = 1;
            } else {
                fangxiang = 0;
            }
        });

    });

</script>


{% endblock %}

